Data/roboBohr.csv filter=lfs diff=lfs merge=lfs -text
./Data/roboBohr.csv filter=lfs diff=lfs merge=lfs -text
/Users/michaelantia/Desktop/Quantum-GroundState-Energy/data/roboBohr.csv filter=lfs diff=lfs merge=lfs -text
